<% comments.each do |comment| %>
  <hr>
  <div class="media-left">
    <% if @post.user.photo.present? %>
      <%= image_tag comment.user.photo.thumb50.url %>
    <% else %>
      <%= image_tag "icon.png", size: "50x50" %>
    <% end %>
    <%= link_to comment.user.name, user_path(comment.user) %><span class="text-muted">投稿日 <%= comment.created_at %></span>
    <% if current_user == comment.user %>
      <div class="dropdown float-right">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">
            <%= link_to "削除", post_comment_path(post, comment), method: :delete, data: { confirm: "削除しますか?" } %>
          </button>
        </div>
      </div>
    <% end %>
  </div>
  <div class="media-body">
    <%= comment.body %>
  </div>
<% end %>