<% notifications.each do |notification| %>
<% visiter=notification.visiter %>
<% visited=notification.visited %>


  <div class="media-left">
    <hr>
    <% if visiter.photo.present? %>
      <%= image_tag visiter.photo.thumb50.url %>
    <% else %>
      <%= image_tag "icon.png", size: "50x50" %>
    <% end %>
    <%= link_to visiter.name, user_path(visiter), style:"font-weight: bold;" %>
    <%= "が" %>
    <% case notification.action %>
      <% when "talk" then %>
        <%= "あなたに" %>
        <%= link_to 'DM', talk_path(visiter), style:"font-weight: bold;" %>
        <%= "しました" %>
      <div class="media-body">
        <%= Talk.find_by(id: notification.talk_id)&.content %>
        <div class="float-right">
          <%= time_ago_in_words(notification.created_at)+"前" %>
        </div>
      </div>
      <% when "comment" then %>
        <% if notification.post.user_id == visited.id %>
          <%= link_to 'あなたの投稿', notification.post, style:"font-weight: bold;" %>
        <% else %>
          <%= link_to notification.post.user.name+"さんの投稿", post_path(notification.post), style:"font-weight: bold;" %>
        <% end %>
        <%= "にコメントしました" %>
      <div class="media-body">
        <%= Comment.find_by(id: notification.comment_id)&.body %>
        <div class="float-right">
          <%= time_ago_in_words(notification.created_at)+"前" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>