<h3 class="text-center"><%= current_user.apartment+"の住人" %></h3>
<% if users_apartment.any? %>
  <ul class="list-unstyled">
    <% users_apartment.each do |user| %>
      <li class="media">
        <% if user.photo.present? %>
          <%= image_tag(user.photo.url, size:'50×50') %>
        <% else %>
          <%= image_tag "icon.png", size: "50x50" %>
        <% end %>
        <div class="media-body">
          <%= link_to user.name, user_path(user) %>
          </br>
          <% if user.introduction.present? %>
            <%= user.introduction %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users_apartment %>
<% end %>