<%= link_to "投稿一覧", posts_path, class: "btn btn-outline-info" %>
<div class="card mb-3" style="max-width: 500px;">
  <div class="row no-gutters">
    <div class="col-md-6">
      <% if @user.photo.present? %>
        <%= image_tag(@user.photo.url, size: "30×30") %>
      <% else %>
        <%= image_tag "icon.png" %>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <div class="border-bottom"><%= link_to 'プロフィールを編集', edit_user_path(current_user) %></div>
        <%= @user.name %>
        <% if @user.sex.present? %>
          <%= @user.sex %>
        <% end %>
        <% if @user.age.present? %>
          <%= @user.age %>代
        <% end %>
        </br>
        <%= @user.introduction %>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <h5 class="card-title text-center">
    自分の投稿<span class="badge badge-secondary"><%= @count_posts %></span>
  </h5>
</div>
<%= render "posts/post.simple", posts: @posts %>
