<div class="card mb-3" style="max-width: 500px;">
  <div class="row no-gutters">
    <div class="col-md-6">
      <% if @user.photo.present? %>
        <%= image_tag @user.photo.url, size: "100x100" %>
      <% else %>
        <%= image_tag "icon.png", size: "100x100" %>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <% if current_user == @user %>
          <div>
            <%= link_to 'プロフィールを編集', edit_user_path(current_user), class: "btn btn-outline-primary" %>
          </div>
        <% end %>
        <%= @user.name %>
        <% if @user.sex.present? %>
          <%= @user.sex %>
        <% end %>
        <% if @user.age.present? %>
          <%= @user.age %>代
        <% end %>
        </br>
        <%= @user.introduction %>
        <% if current_user != @user %>
          <%= link_to "個別でトークする", talk_path(user_id: @user.id), class: 'btn btn-secondary btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <h5 class="card-title text-center">
    <%= @user.name %>さんの投稿
    <span class="badge badge-secondary"><%= @count_posts %></span>
  </h5>
</div>
<%= render "posts/post.simple", posts: @posts, post_show: @post_show, user: @user %>

