<div class="media-left">
  <div class="media-body">
    <% posts.each do |post| %>
      <hr>
      <% if post.user.photo.present? %>
        <%= image_tag post.user.photo.thumb50.url %>
      <% else %>
        <%= image_tag "icon.png", size: "50x50" %>
      <% end %>
      <% if current_user == post.user %>
        <div class="dropdown float-right">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">
              <%= link_to '編集する', edit_post_path(post) %>
            </button>
            <button class="dropdown-item" type="button">
              <%= link_to "削除", post, method: :delete, data: { confirm: "削除しますか?" } %>
            </button>
          </div>
        </div>
      <% end %>
      <%= link_to post.user.name, user_path(post.user) %>
      <h5><%= link_to post.content, post_path(post) %></h5>
      <div>
        <% if post.datetime.present? %>
          日時：<%= post.datetime %>
        <% end %>
        </br>
        <% if post.place.present? %>
          場所：<%= post.place %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= paginate posts %>