<% posts.each do |post| %>
  <div class="card">
    <div class="card-body">
      <%= post.content %>
      </br>
      <% if post.datetime.present? %>
        日時：<%= post.datetime %>
      <% end %>
      </br>
      <% if post.place.present? %>
        場所：<%= post.place %>
      <% end %>
    </div>
    <div class="form-inline">
      <% if current_user == user %>
        <%= link_to '編集する', edit_post_path(post), class: 'btn btn-outline-primary btn-sm' %>
        </br>
        <%= link_to "削除", post_show, method: :delete, data: { confirm: "削除しますか?" }, class: 'btn btn-outline-danger btn-sm' %>
      <% end %>
    </div>
  </div>
<% end %>