<div class='container'>
  <h1 class='border-bottom'>投稿編集</h1>
  <%= form_with(model: @post, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :用件, class: 'control-label' %>
      <%= f.text_area :content, class: 'form-control', rows: 5 %>
      
      <%= f.label :開始日時, class: 'control-label' %>
      <%= f.datetime_local_field :datetime, class: "form-control" %>
      
      <%= f.label :終了日時, class: 'control-label' %>
      <%= f.datetime_local_field :datetime2, class: "form-control" %>
      
      <%= f.label :場所, class: 'control-label' %>
      <%= f.text_field :place, class: 'form-control', rows: 5 %>
    </div>
    <%= f.submit '更新', class: 'btn btn-primary btn-block' %>
  <% end %>
</div>