<div class="container">
  <%= form_with(model: @post, local: true) do |f| %>
    <div class="form-group">
      <%= f.label :何を聞きたい？（必須）, class: 'control-label' %>
      <%= f.text_area :content, class: 'form-control', rows: 5 %>
      
      <%= f.label :日時（任意）, class: 'control-label' %>
      <%= f.datetime_local_field :datetime, class: "form-control" %>
      
      <%= f.label :場所（任意）, class: 'control-label' %>
      <%= f.text_field :place, class: 'form-control', rows: 5 %>
    </div>
    <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
  <% end %>
</div>

