<div class="card mb-3" style="max-width: 500px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <% if @post.user.photo.present? %>
        <%= image_tag @post.user.photo.thumb100.url %>
      <% else %>
        <%= image_tag "icon.png", size: "100x100" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <%= link_to @post.user.name, user_path(@post.user) %>
        | 投稿日：<%= @post.created_at %>
      </div>
    </div>
    <%= @post.content %>
    </br>
    <% if @post.datetime.present? %>
      日時：<%= @post.datetime %>
    <% end %>
    </br>
    <% if @post.place.present? %>
      場所：<%= @post.place %>
    <% end %>
    <% if current_user == @post.user %>
      <div class="dropdown float-right">
        <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">
            <%= link_to '編集する', edit_post_path(current_user) %>
          </button>
          <button class="dropdown-item" type="button">
            <%= link_to "削除", @post, method: :delete, data: { confirm: "削除しますか?" } %>
          </button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div>
  <div class="card">
    <h3 class="text-center">コメント</h3>
    <%= render 'comments/index', comments: @comments, post: @post %>
    <%= render 'comments/form', post: @post, comment: @comment %>
  </div>
</div>