<div class="card mb-3" style="max-width: 500px;">
  <div class="row no-gutters">
    <div class="col-md-6">
      <% if @post.user.photo.present? %>
        <%= image_tag @post.user.photo.url, size: "100×100" %>
      <% else %>
        <%= image_tag "icon.png", size: "100x100" %>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <%= link_to @post.user.name, user_path(@post.user) %>
        </br>
        投稿日：<%= @post.created_at %>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <%= @post.content %>
    </br>
    <% if @post.datetime.present? %>
      日時：<%= @post.datetime %>
    <% end %>
    </br>
    <% if @post.place.present? %>
      場所：<%= @post.place %>
    <% end %>
  </div>
  <div class="form-inline">
    <% if current_user == @post.user %>
      <%= link_to '編集する', edit_post_path(current_user), class: 'btn btn-outline-primary btn-sm' %>
      <%= link_to "削除", @post, method: :delete, data: { confirm: "削除しますか?" }, class: 'btn btn-outline-danger btn-sm' %>
    <% end %>
  </div>
</div>  
<div>
  <h3 class="text-center">コメント</h3>
  <%= render 'comments/index', comments: @comments, post: @post %>
  <%= render 'comments/form', post: @post, comment: @comment %>
  
</div>