<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #EEEEEE;">
    <a class="navbar-brand" href="/">
      <img src="/docs/4.3/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      しゃらタイム
    </a>
    <div></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <li class="notification nav-item nav-link">
              <%= link_to notifications_path do %>
                <span class="fa-stack">
                  <i class=" far fa-bell fa-lg fa-stack-2x nav-link", style:"font-size: 1.5em;"></i>
                  <% if unchecked_notifications.any? %>
                    <i class="fa fa-circle n-circle fa-stack-1x"></i>
                  <% end %>
                </span>
              <% end %>
            </li>
            <li class="nav-item"><%= link_to 'ユーザ一覧', users_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to '＋投稿する', new_post_path, class: 'nav-link'%></li>
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.name %>さん</a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to 'プロフィール', user_path(current_user) %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to '新規登録', new_user_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
