<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #EEEEEE;">
    <a class="navbar-brand" href="/">
      ここ・しゃべる
    </a>
    <div></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <li class="notification nav-item nav-link">
              <%= link_to notifications_path do %>
                <span class="fa-stack">
                  <i class=" far fa-bell fa-lg fa-stack-2x nav-link", style:"font-size: 1em;"></i>
                  <% if unchecked_notifications.any? %>
                    <i class="fa fa-circle n-circle fa-stack-3x"></i>
                  <% end %>
                </span>
              <% end %>
            </li>
            <li class="nav-item"><%= link_to 'ユーザ一覧', users_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to current_user.name, user_path(current_user), class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %></li>
          </li>
        <% else %>
            <li class="nav-item"><%= link_to '新規登録', new_user_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
